#introline {
	font-family: verdana;
	font-size: 3.5vw;
	text-align: center;
}

#dballeft {
	font-family: verdana;
	font-size: 20vw;
	text-align: center;
	margin-top: 1vh;
}

#caltechcard {
	font-family: verdana;
	font-size: 2vw;
	text-align: center;
	margin-top: -10vh;
}

img {
	opacity: 0.015;
}

a {
	color:black;
}
